.box{
    height:200px;
    width: 1300px;
    background-color: grey;
}

.navbar{
    height: 60px;
}

.littleBox{
    height: 300px;
    width: 400px;
    background-color: grey;
    border: black;
}

.col-4{
    font-size: 25px
}
